html{
    height: 100%;
    background: url('/assets/Header_BG.png') no-repeat;
    width: 100%;
    height:100%;
    background-size: cover;
}
a { 
    cursor: pointer; 
}
.login-section{

}
.login-section .card{
    border-radius: 4px;
}
.card{
border-radius: 4px;
}
.login{
    width: 400px;
    margin: 0 auto;
}
.login-right{
    background: #fff;
}
.center-section, .preloader-wrapper{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}
table.striped tr{
    border-bottom: 1px solid rgba(0,0,0,0.12);
}
.dashboard{
    margin-top:75px;
}
.dashboard td, .dashboard th{
    justify-content: center;
    text-align: center;
    padding:15px 10px;
    border-radius: 0px;
    max-width: 150px;
}
.commit-id{
    word-break: break-all;
}
.dashboard thead{
    background-color: #3498db;
    color: #fff;
}
.btn{
    background-color: #3498db;
    cursor: pointer;
}
.user-login, .user-login.btn:hover {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    border-radius: 20px;
}
input:focus{
    box-shadow: none !important;
}
.login input[type=text]:not(.browser-default),
.login input[type=password]:not(.browser-default){
    border: 1px solid #9e9e9e;
    margin-left: 0;
    padding-left:3rem;
    border-radius:6px;
}
.login .input-field .prefix{
    top: 12px;
    font-size: 1.5rem;
    left: 8px;
    color :#9e9e9e;
}
.login input[type=text]:not(.browser-default):focus:not([readonly]),
.login input[type=password]:not(.browser-default):focus:not([readonly]){
    border: 1px solid #26a69a;
}
.input-field>label:not(.label-icon).active{
    transform: translateY(-9px) scale(0.8);
    width: auto !important;
    background: #fff;
    padding: 0 5px;

}
.more-actions {
    margin-top: 50px;
}
.more-actions h5, .more-actions .row{
    margin: 0;
}
.more-actions .right-align{
    padding-right: 0;
}
.more-actions .inte-btn{
    margin-right: 30px;
}